# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/*.log

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/
